.container{
    display: flex;
    /* background-color: rgb(184, 178, 178); */
    width: 100%;
    padding: 10px 50px;
    justify-content: space-between;

}

.item{
    display: flex;
    background-color: white;
    padding: 0px 10px;
    width: 230px;
    border-radius: 5px;
    
}

.item-image{
    height: 40px;
    margin-top: 10px;
padding: 10px;
background-color: rgb(127, 7, 131);
border-radius: 5px;
}

.item-image img{
    width: 25px;
}

.item-content{
    width: 100px;
    padding: 10px;
    background-color: white;

}

